BODY
{
    BACKGROUND-COLOR: #003366;
    COLOR: #CCCCCC;
    FONT-FAMILY: 'Lucida Sans Unicode', Arial;
    FONT-SIZE: 16px;
    LETTER-SPACING: normal;
    LINE-HEIGHT: normal;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
; font-weight: normal
}
TABLE
{
    BACKGROUND-COLOR: #FFFFFF;
    BORDER-BOTTOM: medium none;
    BORDER-LEFT: medium none;
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    CLEAR: none;
    COLOR: #003366;
    FLOAT: none;
    FONT-FAMILY: 'Lucida Sans Unicode', Arial;
    FONT-SIZE: 14px;
    FONT-STYLE: normal;
    LINE-HEIGHT: normal;
    MARGIN: 0px 0px
; text-align: left; padding: 0px 0px
; clip:     rect(   )
}
Titolo
{
    BACKGROUND-COLOR: lemonchiffon;
    COLOR: brown;
    FONT-FAMILY: 'Lucida Sans Unicode', Arial;
    FONT-SIZE: 11pt;
    TEXT-DECORATION: none
}
TEXTAREA {  font: 12px "Lucida Sans Unicode"}
INPUT {  font: 12px "Lucida Sans Unicode"}
SELECT {  font: 12px "Lucida Sans Unicode"}
